openapi: 3.1.0
info:
  title: MatchApply API
  version: 1.0.0
  description: |
    API de MatchApply: autenticación con verificación por email (MFA), procesamiento
    de CVs con un modelo blindado (solo usa datos del archivo recibido) y paywall
    free/pro decidido **siempre** en el servidor.

    ## Autenticación
    Cookies httpOnly (`ma_at` de acceso, `ma_rt` de refresh rotativo). El cliente
    llama con `credentials: 'include'`. Nunca se guardan tokens en localStorage.

    ## Errores
    Formato uniforme: `{ "error": { "code": "...", "message": "..." } }`
servers:
  - url: https://api.matchapply.com
  - url: http://localhost:8080

tags:
  - name: auth
    description: Registro, verificación por código, sesión.
  - name: cv
    description: Procesamiento, edición (Pro) y exportación de CVs.
  - name: billing
    description: Suscripción a MatchApply Pro.

paths:
  /health:
    get:
      tags: [auth]
      summary: Estado del servicio
      responses:
        '200': { description: OK }

  /auth/signup:
    post:
      tags: [auth]
      summary: Crea la cuenta SIN verificar y envía el código de 6 dígitos por email
      description: |
        Valida las 5 reglas de contraseña en el servidor (la validación del cliente es solo UX).
        **El código nunca vuelve en la respuesta.** Rate limit: 5 registros por IP cada 15 min.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password, passwordConfirm]
              properties:
                name: { type: string, minLength: 2, maxLength: 80 }
                email: { type: string, format: email }
                password: { type: string, minLength: 8, maxLength: 128 }
                passwordConfirm: { type: string }
                isDiscoverable: { type: boolean, default: false }
      responses:
        '202':
          description: Pendiente de verificación
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: pending_verification }
                  email: { type: string }
                  expiresInMinutes: { type: integer, example: 15 }
                  resendCooldownSeconds: { type: integer, example: 30 }
        '400':
          description: weak_password | password_mismatch | invalid_payload
        '429': { description: signup_rate_limited }

  /auth/verify:
    post:
      tags: [auth]
      summary: Valida el código, activa la cuenta y abre sesión
      description: 15 minutos de validez, 5 intentos, comparación en tiempo constante.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string, format: email }
                code: { type: string, pattern: '^\d{6}$' }
      responses:
        '200':
          description: Cuenta verificada; se setean las cookies de sesión
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
        '400':
          description: invalid_code | code_expired | code_too_many

  /auth/resend:
    post:
      tags: [auth]
      summary: Reenvía el código (cooldown de 30s)
      responses:
        '202': { description: Enviado (respuesta uniforme aunque el mail no exista) }
        '429': { description: resend_cooldown }

  /auth/login:
    post:
      tags: [auth]
      summary: Inicia sesión
      description: |
        Mismo mensaje para usuario inexistente y contraseña incorrecta (anti-enumeración).
        Bloqueo temporal de la cuenta a los 8 fallos. Rate limit: 10 por IP cada 10 min.
      responses:
        '200': { description: Sesión iniciada }
        '401': { description: invalid_credentials }
        '403': { description: not_verified (se reenvía el código automáticamente) }
        '429': { description: account_locked | login_rate_limited }

  /auth/refresh:
    post:
      tags: [auth]
      summary: Rota el refresh token y renueva el access token
      responses:
        '200': { description: Renovado }
        '401': { description: session_expired }

  /auth/me:
    get:
      tags: [auth]
      summary: Usuario de la sesión actual
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }

  /auth/logout:
    post: { tags: [auth], summary: Cierra la sesión actual, responses: { '200': { description: OK } } }

  /auth/account:
    delete:
      tags: [auth]
      summary: Borra la cuenta y todos sus datos (cascade)
      responses: { '200': { description: OK } }

  /cv/parse:
    post:
      tags: [cv]
      summary: Estructura un CV (archivo o texto)
      description: |
        El modelo recibe **solo** el texto del CV: no se le pasa nombre, email ni tier
        del usuario. El resultado se sanea contra el contrato de secciones.

        - **free** → la respuesta trae `preview` + link al PDF (sin el JSON editable).
        - **pro**  → la respuesta trae `cv` completo para el editor.

        Si el usuario ya subió ese mismo CV (`source_hash`), se devuelve cacheado
        sin consumir cuota ni llamar al modelo.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary, description: 'PDF, DOCX o TXT (máx. 8 MB, validado por firma binaria)' }
                lang: { type: string, enum: [es, en, fr, pt] }
          application/json:
            schema:
              type: object
              properties:
                text: { type: string, maxLength: 60000 }
                lang: { type: string, enum: [es, en, fr, pt] }
      responses:
        '200':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CvResponse' }
        '413': { description: file_too_large }
        '415': { description: unsupported_file }
        '429': { description: quota_exceeded }

  /cv/{id}:
    get:
      tags: [cv]
      summary: Recupera un CV (JSON completo solo para Pro)
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CvResponse' }
    put:
      tags: [cv]
      summary: Guarda la edición manual — SOLO PRO
      description: Un usuario free recibe `403 pro_required` aunque manipule el frontend.
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cv: { $ref: '#/components/schemas/Cv' }
                lang: { type: string }
      responses:
        '200': { description: Guardado }
        '403': { description: pro_required }

  /cv/{id}/export:
    get:
      tags: [cv]
      summary: Descarga el CV (PDF para todos, DOCX solo Pro)
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: format, in: query, schema: { type: string, enum: [pdf, docx], default: pdf } }
      responses:
        '200':
          description: Archivo binario (una columna, títulos estándar, optimizado para ATS)
          content:
            application/pdf: { schema: { type: string, format: binary } }
        '403': { description: pro_required (DOCX) }

  /cv/{id}/tailor:
    post:
      tags: [cv]
      summary: Adapta el CV a un aviso (sin inventar habilidades)
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jobDescription]
              properties:
                jobDescription: { type: string, minLength: 30, maxLength: 20000 }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  atsScore: { type: integer, minimum: 0, maximum: 100 }
                  matched: { type: array, items: { type: string } }
                  missing: { type: array, items: { type: string } }
                  reasons: { type: array, items: { type: string } }
                  cv: { $ref: '#/components/schemas/Cv', description: 'solo Pro' }

  /cv/quota/today:
    get:
      tags: [cv]
      summary: Cuota diaria (free 5 / pro 30)
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  used: { type: integer }
                  limit: { type: integer }
                  left: { type: integer }

  /billing/checkout:
    post:
      tags: [billing]
      summary: Crea la sesión de pago de Stripe
      responses:
        '200':
          content:
            application/json:
              schema: { type: object, properties: { url: { type: string, format: uri } } }

  /billing/webhook:
    post:
      tags: [billing]
      summary: Webhook de Stripe (única fuente de verdad del tier)
      description: Body RAW; se valida la firma con STRIPE_WEBHOOK_SECRET.
      responses: { '200': { description: received } }

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: ma_at
  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string }
        tier: { type: string, enum: [free, pro] }
        isVerified: { type: boolean }
    Cv:
      type: object
      description: Contrato estricto. Cada dato vive SOLO en su sección nativa.
      properties:
        name: { type: string, description: 'El del CV. Nunca el de la cuenta.' }
        contact:
          type: object
          properties:
            email: { type: string }
            phone: { type: string }
            linkedin: { type: string }
            github: { type: string }
            website: { type: string }
            location: { type: string }
        summary: { type: string }
        summary_is_generated: { type: boolean }
        experience:
          type: array
          items:
            type: object
            properties:
              role: { type: string }
              company: { type: string }
              location: { type: string }
              start: { type: string }
              end: { type: string }
              bullets: { type: array, items: { type: string }, description: 'Solo logros profesionales.' }
        education:
          type: array
          items:
            type: object
            properties:
              institution: { type: string }
              degree: { type: string }
              location: { type: string }
              start: { type: string }
              end: { type: string }
        skills: { type: array, items: { type: string } }
        interests: { type: array, items: { type: string } }
        warnings: { type: array, items: { type: string }, description: 'Lo que al CV le FALTA. Nunca datos nuevos.' }
    CvResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        lang: { type: string }
        editable: { type: boolean, description: 'true solo para tier=pro' }
        cached: { type: boolean }
        quota: { type: object }
        cv: { $ref: '#/components/schemas/Cv' }
        preview:
          type: object
          description: 'Lo que recibe un usuario free en vez del JSON editable.'
          properties:
            name: { type: string }
            downloadPdf: { type: string }
            upgradeHint: { type: string }

security:
  - cookieAuth: []
